@media (max-width: 1439px){
	.side-panel{
		display: none;
	}
}
@media (max-width: 1200px){
	.container{
		max-width: 960px;
	}
	.about{
		&__wrapper{
			grid-template-columns: 400px 520px;
			column-gap: 40px;
		}
		&__skills{
			column-gap: 20px;
		}
		&__skills-item{
			column-gap: 15px;
		}
	}
	.usefull{
		&__grid-container{
			padding: 60px 20px 0 ;
			grid-template-columns: repeat(2, 430px);
			column-gap: 60px;
		}
	}
	.skills{
		&__grid-container{
			grid-template-columns: repeat(3, auto);
			grid-template-rows: repeat(2, minmax(270px, auto));
		}
	}
	.stack{
		&__grid-container{
			grid-template-columns: repeat(auto-fit, 270px);
			justify-content: space-between;
		}
		&__grid-container-lines{
			grid-template-columns: repeat(2, auto);
		}
	}
	.portfolio{
		&__grid-container{
			grid-template-columns: repeat(auto-fit, 280px);
			justify-content: space-around;
			grid-auto-rows:280px;
			row-gap: 35px;
			.horizontal{
				grid-column: auto;
				grid-row: auto;
			}
			.vertical{
				grid-column: auto;
				grid-row: auto;
			}
		}
	}
	.contacts{
		&__wrapper{
			padding: 0;
			grid-template-columns: 350px 585px;
		}
	}
}
@media (max-width: 991.98px){
	.container{
		max-width: 720px;
	}
	.title{
		font-size: 30px;
		&_fz16{
			font-size: 16px;
		}
		&_fz14{
			font-size: 14px;
		}
	}
	.about{
		&__wrapper{
			grid-template-columns: 300px 380px;
		}
		&__skills{
			grid-template-columns: 380px;
			grid-template-rows: minmax(115px, auto);
		}
	}
	.usefull{
		padding-top: 60px;
		&__grid-container{
			padding: 40px 5px 0 ;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, minmax(200px, auto));
			grid-auto-rows: auto;
			column-gap: 60px;
		}
	}
	.stack{
		padding-top: 60px;
		&__grid-container{
			padding-top: 40px;
		}
		&__grid-item{
			padding: 25px 25px 25px 25px;
		}
	}
	.price{
		&__wrapper{
			padding: 0;
			grid-template-columns: repeat(auto-fit, 350px);
		}
	}
	.contacts{
		&__wrapper{
			grid-template-columns: 300px 1fr;
			column-gap: 20px;
		}
		&__form{
			grid-template-rows: 45px 150px 90px;
			row-gap: 20px;
			column-gap: 10px;
		}
		&__input, &__textarea{
			label{
				font-size: 14px;
			}
		}
		&__triggers{
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, minmax(20px, auto));
			justify-items: center;
		}
		&__policy{
			grid-row: 1;
		}
		&__btn{
			justify-self: stretch;
			align-self: end;
		}
	}
}
@media (max-width: 768px){
	.container{
		max-width: 540px;
	}
	.title{
		&_fz48{
			font-size: 28px;
		}
	}
	.promo{
		&__title{
			width: 300px;
			font-size: 26px;
			line-height: 39px;
		}
	}
	.about{
		padding-top: 60px;
		&__wrapper{
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: 500px auto auto;
		}
		&__img{
			grid-row: 1;
		}
		&__skills{
			grid-template-columns: repeat(2, 260px);
		}
	}
	.stack{
		&__grid-container{
			justify-content: center;
		}
		&__grid-container-lines{
			grid-template-columns: repeat(2, auto);
		}
	}
	.portfolio{
		&__subtitle{
			line-height: 36px;
			margin: 20px 0 0 0;
		}
		&__devider{
			margin-top: 15px;
		}
		padding-top: 40px;
		&__grid-container{
			margin-top: 40px;
		}
	}
	.price{
		padding-top: 40px;
		&__wrapper{
			margin-top: 40px;
			justify-content: center;
			row-gap: 30px;
		}
	}
	.contacts{
		padding: 40px 0 40px;
		&__wrapper{
			grid-template-columns: 1fr;
		}
		&__img{
			display: none;
		}
		&__form{
			column-gap: 20px;
		}
	}
}
@media (max-width: 576px){
	.container{
		max-width: 100%;
		padding: 0 10px;
	}
	.title{
		font-size: 24px;
		&_fz16{
			font-size: 16px;
		}
		&_fz14{
			font-size: 14px;
		}
		&_fz48{
			font-size: 28px;
		}
	}
	.hamburger{
		right: 20px;
	}
	.promo{
		background: url("../img/main_bg.jpg") 60% center / cover no-repeat;
		&__subtitle{
			color: $promo-color;
		}
		&__title{
			color: $promo-color;
		}
		&__buttons{
			margin-top: 30px;
		}
	}
	.menu{
		&__block{
			padding-left: 20px;
			width: 250px;
		}
	}
	.about{
		&__wrapper{
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: 300px auto auto;
		}
		&__skills{
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, auto);
		}
	}
	.stack{
		&__devider{
			margin-top: 15px;
		}
		&__subtitle{
			line-height: 36px;
		}
		&__grid-container{
			padding-top: 20px;
			justify-content: center;
			row-gap: 20px;
		}
		&__grid-item{
			padding: 25px 25px 25px 25px;
			width: 270px;
		}
		&__grid-container-lines{
			grid-template-columns: 300px;
			justify-content: center;
			padding-top: 40px;
			row-gap: 40px;
		}
	}
	.price{
		&__wrapper{
			margin-top: 40px;
			grid-template-columns: repeat(auto-fit, 295px);
			justify-content: center;
			row-gap: 30px;
		}
	}
	.contacts{
		&__form{
			grid-template-columns:  1fr;
			grid-template-rows: repeat(2, minmax(45px, auto)) 150px  90px;
		}
		&__textarea, &__triggers{
			grid-column: 1;
		}
		&__policy{
			text-align: center;
		}
		&__btn{
			justify-self: center;
		}
	}
}
